body {
  margin: 8px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}


.header {
  text-align: center;
  margin-bottom: 20px;
}

.header .font {
  display: block;
  font-size: 2em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

button {
  margin: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(36, 184, 243);
  color: white;
  font-size: large;
  font-weight: 600;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.daybutton {
  background-color: #66b3ff;
  border: none;
  border-radius: 20%;
  color: white;
  font-size: 24px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;  /* 위치를 절대값으로 지정 */
  top: 50%;  /* 세로 방향으로 가운데 정렬 */
  transform: translateY(-50%);  /* 정확히 가운데 맞추기 */
}

.daybutton.left {
  left: 10px;  
}

.daybutton.right {
  right: 10px;  
}

li {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
}

hr {
  margin-top: 20px;
  border: none;
  border-top: 1px solid #ccc;
}
